@{
    ViewData["Title"] = "Home Page For Devops Learning";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form action="/Payment/Processing" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="@ViewBag.PublishableKey"
            data-amount="@ViewBag.PaymentAmount"
            data-name="Demo Comany name"
            data-description="10 rubberducks for 1$ each"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="en"
            data-zip-code="true"
            data-label="Pay 10$">
    </script>
</form>
<script src="https://js.stripe.com/v3/"></script>